#header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-app-name:hover {
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}