<p>
    <mat-toolbar color="primary" id="header-toolbar">
        <div class="center">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Ecommerce</span>
        </div>
        <div class="center">
            <button mat-icon-button class="person-icon" aria-label="Example login-button with person icon" [routerLink]="['/login']">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</p>