<form [formGroup]="loginForm" id="login-form" (ngSubmit)="onSubmit()">
    <h1>Login</h1>

    <mat-form-field>
        <input matInput placeholder="email" formControlName="email" type="text" />
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="password" formControlName="password" type="password" />
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="this.loginForm.controls.email.invalid || this.loginForm.controls.password.invalid">
        Login
    </button>
</form>